body{
    background-color: #f3f3f3;
}

ul{
    padding: 0;
    display: inline;
    list-style-type:none;
}
li{
    background-color: #e0e0e0;
    border: solid 1px;
    text-decoration: none;
    padding:2px;
    border-color: #cacaca;
    margin-right:90%;
}
li:hover{
    background: -moz-linear-gradient(left, rgba(100,98,102,1) 0%, rgba(100,98,102,1) 85%, rgba(22,9,171,1) 98%, rgba(22,9,171,1) 100%);
    color: white;
}