#amarillo{
    float: left;
    width: 50%;
    height: 100%;
    background-color:#ffffa6;
}
#verde{
    float: right;
    width: 50%;
    height: 100%;
    background-color:#95ff95;
}
#azul{
    position: absolute;
    top:25%;
    left:25%;
    width:50%;
    height:50%;
    background-color:#a8a8ff; 
}
#naranja{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #ff9f40;
    width: 100%;
}
